
<!--
<app-home></app-home>
 <table>
    <tr>
        <td> <button type="button" >Login</button></td>
    </tr>
    <tr>
        <table border="1">
            <app-login-component></app-login-component>
        </table>
    </tr>
    <tr></tr>
    <tr>
        <td> <button type="button" >Singup</button></td>
    </tr>
    <tr>
        <table border="1">
            <app-signup-component></app-signup-component>
        </table>
    </tr>
 </table>
-->

<router-outlet></router-outlet>
<!--Activated route component will be displayed here-->
